---
import PictureHero from "../shared/PictureHero.astro";
---

<!--====================
  HOME
========================-->
<header>
  <section class="home section snap" id="home" data-scroll-target="#about">
    <div class="cover-content" data-hero-sequence data-hero-interval="3000">
      <div class="img-hero">
        <PictureHero
          src="walkeweg_b"
          alt="Photorealistic architectural visualization by Scuares"
          loading="eager"
          decoding="async"
          fetchpriority="high"
          pictureAttributes={{
            "data-hero-current": "",
            "data-logo": "light",
          }}
        />

        <template data-hero-slides>
          <PictureHero
            src="walkeweg_b"
            alt="Photorealistic architectural visualization by Scuares"
            pictureAttributes={{
              "data-hero-slide": "",
              "data-logo": "light",
            }}
          />
          <PictureHero
            src="puglia"
            alt="Photorealistic architectural visualization by Scuares"
            pictureAttributes={{
              "data-hero-slide": "",
              "data-logo": "dark",
            }}
          />
          <PictureHero
            src="walkeweg_a"
            alt="Photorealistic architectural visualization by Scuares"
            pictureAttributes={{
              "data-hero-slide": "",
              "data-logo": "light",
            }}
          />
          <PictureHero
            src="basel_b"
            alt="Photorealistic architectural visualization by Scuares"
            pictureAttributes={{
              "data-hero-slide": "",
              "data-logo": "light",
            }}
          />
          <PictureHero
            src="basel_a"
            alt="Photorealistic architectural visualization by Scuares"
            pictureAttributes={{
              "data-hero-slide": "",
              "data-logo": "light",
            }}
          />
        </template>
      </div>
    </div>

    <div class="cover-text">
      <h1 class="header-main">
        <span class="header-sub">3D RENDERINGS</span><br />
        Architectural<br />
        Visualization<br />
      </h1>
      <h2 class="text-1">
        Scuares produces high quality images, animations and 360 virtul tours
        for real estate and commercial architecture.
      </h2>
    </div>
  </section>
</header>
