.contact-info {
  background-color: rgb(234, 234, 234);
}

.contact-info .text-box {
  max-width: 70ch;
}

.email {
  color: inherit;
  font: inherit;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.5em;
  cursor: pointer;
}

.email-copy-status {
  margin-left: 1ch;
}

.contact-details {
  margin-top: 3rem;
}

.contact-details h4 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.instagram {
  fill: var(--col-grey-dark);
  height: 2.6rem;
  width: 2.6rem;
  transform: translateX(-15%);
}
