.contact-info {
  background-color: rgb(234, 234, 234);
}

.contact-info .text-box {
  max-width: 70ch;
}

.email-big {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0;
  padding: 4rem 0;
}

.contact-email {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  padding: 2rem 8rem;
}

.contact-details {
  margin-top: 3rem;
}

.contact-details h4 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.instagram {
  fill: var(--col-grey-dark);
  height: 2.6rem;
  width: 2.6rem;
  transform: translateX(-15%);
}
