/* HELPERS*/
.fixed {
  position: fixed !important;
}

.transparent {
  background: transparent !important;
}

/*NAV MAIN SITE*/

.nav-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--frame-y) var(--frame-x);
  z-index: 99;
  background: transparent;
}

.nav-main--docked {
  position: absolute;
  top: var(--hero-height);
}

.nav-main--fixed {
  position: fixed;
  top: 0;
}

.logo {
  cursor: pointer;
  display: block;
  font-size: var(--nav-text-size);
  font-weight: var(--nav-text-weight);
  line-height: var(--nav-text-line-height);
  color: var(--col-grey-dark);
  margin: 0;
  padding: 0;
  appearance: none;
}

.nav-main .logo-light,
.logo-nav-active {
  color: white;
}

.contact-btn {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: var(--nav-text-size);
  font-weight: var(--nav-text-weight);
  line-height: var(--nav-text-line-height);
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--col-grey-dark);
  appearance: none;
}

.contact-btn__close {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(-50%);
}

.contact-btn__close span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: var(--line-thickness);
  border-radius: 99px;
  background-color: var(--col-grey-dark);
  transform-origin: center;
}

.contact-btn__close span:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.contact-btn__close span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.contact-btn--close .contact-btn__label {
  visibility: hidden;
}

.contact-btn--close .contact-btn__close {
  display: block;
}

.nav-main .contact-btn-light {
  color: white;
}

/*NAV COMMERCIAL SITE*/
.nav-commercial {
  height: var(--nav-commercial-height);
  position: fixed;
  top: var(--frame-y);
  left: var(--frame-x);
  width: calc(100vw - 2 * var(--frame-x));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: transparent;
}

/* LOGO */
.nav-commercial .nav-logo-box {
  margin: 0;
  height: 100%;
  background-color: var(--col-dark-commercial);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 50px;
  padding-right: 12px;
}

.nav-commercial .nav-right-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-commercial .scuares {
  font-size: 19px;
  font-weight: 700;
  transform: translateY(-0.5px);
}

.nav-commercial .commercial {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -4%;
  transform: translateY(-6px);
}

/*CONTACT BTN*/
.nav-commercial .contact-btn {
  background-color: white;
  border: 2px solid var(--col-dark-commercial);
  height: 100%;
  padding: 0 12px;
  color: var(--col-dark-commercial);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.nav-commercial .contact-modal-close {
  position: relative;
  flex-shrink: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: var(--nav-commercial-height);
  height: var(--nav-commercial-height);
  background-color: var(--col-dark-commercial);
  cursor: pointer;
}

html.contact-modal-open .nav-commercial .contact-btn,
html.contact-modal-open .nav-commercial .hamburger-box {
  display: none;
}

html.contact-modal-open .nav-commercial .contact-modal-close {
  display: flex;
}

/* HAMBURGER*/

.nav-commercial .hamburger-box {
  z-index: 10;
  flex-shrink: 0;
  width: var(--nav-commercial-height);
  height: var(--nav-commercial-height);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform-origin: center center;
  background-color: var(--col-dark-commercial);
}

/*hamburger geometry*/

.hamburger-lines {
  font-size: 2px;
  z-index: 999;
  height: 10em;
  width: 10em;
  position: relative;
}

.line {
  background-color: white;
  height: var(--line-thickness);
  border-radius: 99px;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.hamburger-nav-active .line {
  background-color: white;
}

.line-top {
  top: 2px;
}

.line-mid {
  top: calc(5em - var(--line-thickness) / 2);
}

.line-bottom {
  bottom: 2px;
}

.hamburger-nav-active .line-top {
  top: calc(5em - var(--line-thickness) / 2);
  transform: rotate(45deg) scaleX(150%);
}

.hamburger-nav-active .line-mid {
  display: none;
}

.hamburger-nav-active .line-bottom {
  bottom: calc(5em - var(--line-thickness) / 2);
  transform: rotate(-45deg) scaleX(150%);
}

@media (--single-column) {
  .nav-main {
    background: white;
  }

  .nav-commercial {
    background: var(--col-dark-commercial);
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-commercial .nav-logo-box {
    padding-left: 12px;
  }
}
