/*NAV MAIN SITE*/

.nav-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--frame-y) var(--frame-x);
  z-index: 99;
  background: transparent;
}

.nav-main--docked {
  position: absolute;
  top: var(--hero-height);
}

.nav-main--fixed {
  position: fixed;
  top: 0;
}

.logo {
  cursor: pointer;
  display: block;
  font-size: var(--nav-text-size);
  font-weight: var(--nav-text-weight);
  line-height: var(--nav-text-line-height);
  color: var(--col-grey-dark);
  margin: 0;
  padding: 0;
  appearance: none;
}

.nav-main .logo-light,
.logo-nav-active {
  color: white;
}

.contact-btn {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: var(--nav-text-size);
  font-weight: var(--nav-text-weight);
  line-height: var(--nav-text-line-height);
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--col-grey-dark);
  appearance: none;
}

.contact-btn__close {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  width: 2.4rem;
  height: 2.4rem;
  transform: translateY(-50%);
}

.contact-btn__close span {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: var(--line-thickness);
  border-radius: 99px;
  background-color: var(--col-grey-dark);
  transform-origin: center;
}

.contact-btn__close span:first-child {
  transform: translateY(-50%) rotate(45deg);
}

.contact-btn__close span:last-child {
  transform: translateY(-50%) rotate(-45deg);
}

.contact-btn--close .contact-btn__label {
  visibility: hidden;
}

.contact-btn--close .contact-btn__close {
  display: block;
}

.nav-main .contact-btn-light {
  color: white;
}

.contact-btn-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  cursor: default;
}

/*NAV COMMERCIAL SITE*/
.nav-commercial {
  outline: 1px solid red;
  height: 46px;
  position: fixed;
  top: var(--frame-y);
  left: var(--frame-x);
  width: calc(100vw - 2 * var(--frame-x));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: transparent;
}

.nav-commercial .nav-logo-box {
  margin: 0;

  height: 100%;
  background-color: var(--col-dark-commercial);
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  color: white;
  padding-left: 50px;
  padding-right: 12px;
}

.nav-commercial .nav-right-box {
  display: flex;
  gap: var(--hamburger-left-pad);
  justify-content: flex-end;
  align-items: center;
}

.nav-commercial .scuares {
  font-size: 19px;
  font-weight: 700;
  transform: translateY(-0.5px);
}

.nav-commercial .commercial {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -4%;
  transform: translateY(-6px);
}

/* HELPERS*/
.fixed {
  position: fixed !important;
}

.transparent {
  background: transparent !important;
}

/* HAMBURGER*/

.hamburger {
  z-index: 10;
  flex-shrink: 0;
  width: var(--hamburger-size);
  height: var(--hamburger-size);
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform-origin: center center;
}

.hamburger-lines {
  transform: translateY(var(--hamburger-move-down));
  font-size: 2px;
  --anim-time: 400ms;
  z-index: 999;
  height: 10em;
  width: 10em;
  position: relative;
}

.line {
  background-color: var(--col-grey-dark);
  height: var(--line-thickness);
  border-radius: 99px;
  width: 100%;
  transition:
    top 300ms ease-in-out,
    bottom 300ms ease-in-out,
    transform 300ms ease-in-out;
  position: absolute;
  z-index: 999;
}

.hamburger-nav-active .line {
  background-color: white;
}

.line-top {
  top: 2px;
}

.line-mid {
  top: calc(5em - var(--line-thickness) / 2);
}

.line-bottom {
  bottom: 2px;
}

.anim-line-top {
  animation: lineTopAnim var(--anim-time) ease-in-out normal forwards;
}

.anim-line-mid {
  animation: lineMidAnim var(--anim-time) ease-in-out normal forwards;
}

.anim-line-bottom {
  animation: lineBottomAnim var(--anim-time) ease-in-out normal forwards;
}

.anim-line-top-rev {
  animation: lineTopAnimRev var(--anim-time) ease-in-out forwards;
}

.anim-line-mid-rev {
  animation: lineMidAnimRev var(--anim-time) ease-in-out forwards;
}

.anim-line-bottom-rev {
  animation: lineBottomAnimRev var(--anim-time) ease-in-out forwards;
}

@keyframes lineTopAnim {
  0% {
    top: 2px;
    transform: rotate(0deg);
  }

  30% {
    top: calc(5em - var(--line-thickness) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: calc(5em - var(--line-thickness) / 2);
    transform: rotate(45deg) scaleX(150%);
  }
}

@keyframes lineTopAnimRev {
  0% {
    top: calc(5em - var(--line-thickness) / 2);
    transform: rotate(45deg) scaleX(150%);
  }

  30% {
    top: calc(5em - var(--line-thickness) / 2);
    transform: rotate(0deg);
  }

  100% {
    top: 2px;
    transform: rotate(0deg);
  }
}

@keyframes lineMidAnim {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes lineMidAnimRev {
  0% {
    transform: rotate(45deg);
  }

  30% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes lineBottomAnim {
  0% {
    bottom: 2px;
    transform: rotate(0deg);
  }

  30% {
    bottom: calc(5em - var(--line-thickness) / 2);
    transform: rotate(0deg);
  }

  100% {
    bottom: calc(5em - var(--line-thickness) / 2);
    transform: rotate(-45deg) scaleX(150%);
  }
}

@keyframes lineBottomAnimRev {
  0% {
    bottom: calc(5em - var(--line-thickness) / 2);
    transform: rotate(-45deg) scaleX(150%);
  }

  30% {
    bottom: calc(5em - var(--line-thickness) / 2);
    transform: rotate(0deg);
  }

  100% {
    bottom: 2px;
    transform: rotate(0deg);
  }
}
