@media (max-aspect-ratio: 1/1),
  (max-width: calc(700em / 16)),
  (max-height: calc(450em / 16)) {
  :root {
    --frame-x: 1.6rem;
    --frame-y: 1.6rem;
  }

  .nav:not(.nav--commercial) {
    background: white;
  }

  .nav--commercial .logo-box {
    position: absolute;
  }

  .centered-box {
    justify-content: flex-start;
    padding: var(--margin);
  }

  .text-box {
    max-width: 60ch;
  }

  #home .centered-box {
    padding-top: 12rem;
  }

  .home {
    height: 100svh;
  }

  .home,
  .cover,
  .films-proj,
  .tours-proj,
  .contact {
    grid-template-columns: 1fr;
  }

  .home {
    grid-template-rows: 1fr auto;
  }

  .cover {
    grid-template-rows: auto 1fr;
  }

  .films,
  .about,
  .cover {
    height: auto;
  }

  .images .cover-content,
  .films-main .cover-content,
  .tours-main .cover-content,
  .contact .cover-content {
    height: 100vw;
  }

  .cover-text {
    padding: 5rem;
    padding-top: 8rem;
  }

  .home .cover-text {
    padding-top: 5rem;
  }

  .about .cover-text {
    padding-top: 3rem;
  }

  .cover-text .text-1 {
    max-width: 55ch;
  }

  .films-proj {
    display: flex;
    flex-direction: column;
    height: 300vw;
  }

  .modal-film {
    padding: 2rem;
  }

  .modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
  }

  .modal-text {
    color: white;
    font-size: 2rem;
    padding: 0 2rem;
    max-width: 45ch;
  }

  .images-one {
    overflow: hidden;
    height: auto;
  }

  .images-two {
    grid-template-columns: 1fr;
    height: auto;
    overflow: hidden;
  }

  .hero-full {
    height: 100vh;
    height: var(--hero-height);
  }

  .hero-full .img-hero {
    display: block;
    height: 100%;
    padding: 0;
  }

  .img-full,
  .img-pad {
    display: flex;
    flex-direction: column;
    padding: var(--frame-y) var(--frame-x);
  }

  .credit {
    padding: 2rem 0;
    padding-bottom: 2rem;
    position: relative;
  }

  .img-full > .credit,
  .img-pad > .credit {
    color: var(--col-grey-dark);
    background: transparent;
  }

  .c-hide {
    display: block;
  }

  .c-cover {
    position: absolute;
    padding-left: var(--frame-x);
  }

  .c-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .tours-proj {
    display: flex;
    flex-direction: column;
    height: 200vw;
  }

  .pano-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--frame-y) var(--frame-x);
    cursor: pointer;
  }

  .pano-click-text {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .pano-play {
    background-color: var(--col-grey-dark);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 999rem;
    margin-top: 1rem;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: calc(1300em / 16)) and (min-width: calc(700em / 16)) {
  .modal-container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: calc(700em / 16)),
  (max-aspect-ratio: 1/1) and (max-width: calc(350em / 16)) and (max-height: calc(650em / 16)) {
  .modal-text {
    display: none;
  }
}

@media (min-aspect-ratio: 3/1) {
  .empty {
    display: none;
  }

  .home,
  .cover,
  .films-proj,
  .tours-proj,
  .images-one,
  .images-two,
  .contact {
    height: 33vw;
  }
}

@media (max-aspect-ratio: 1/1) and (min-width: calc(800em / 16)) {
  .images-one {
    overflow: hidden;
    height: auto;
    padding: var(--frame-y) var(--frame-x);
  }

  .images-two {
    grid-template-columns: 1fr 1fr;
    height: auto;
    overflow: hidden;
    padding: var(--frame-y) var(--frame-x);
    gap: var(--frame-y) var(--frame-x);
  }

  .img-full,
  .img-pad {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .images-two .img-full,
  .images-two .img-pad {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vw auto;
  }

  .credit {
    padding-bottom: 0;
  }

  .c-hide {
    display: none;
  }
}

@media (max-height: calc(450em / 16)) {
  .credit {
    color: var(--col-grey-dark);
    background: transparent;
  }

  .img-full > .credit,
  .img-pad > .credit {
    color: var(--col-grey-dark);
    background: transparent;
  }

  .nav--commercial .nav-links {
    gap: 0.9rem;
    padding-bottom: 4rem;
  }

  .email {
    border: none;
    bottom: 4rem;
  }
}

@media (max-width: calc(1600em / 16)) {
  html {
    font-size: 60%;
  }
}

@media (max-width: calc(1500em / 16)) {
  html {
    font-size: 59%;
  }
}

@media (max-width: calc(1400em / 16)) {
  html {
    font-size: 58%;
  }
}

@media (max-width: calc(1300em / 16)) {
  html {
    font-size: 57%;
  }
}

@media (max-width: calc(1200em / 16)) {
  html {
    font-size: 56%;
  }
}

@media (max-width: calc(1100em / 16)) {
  html {
    font-size: 55%;
  }
}

@media (max-width: calc(1000em / 16)) {
  html {
    font-size: 54%;
  }
}

@media (max-width: calc(900em / 16)) {
  html {
    font-size: 53%;
  }
}
