.modal-close {
  font-size: 30px; /* global size */
  position: fixed;
  top: var(--margin);
  right: var(--margin);

  width: var(--hamburger-size);
  height: var(--hamburger-size);

  background-color: var(--col-grey-dark);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform-origin: center;

  transition: 0.2s ease-out;
}

.modal-close:hover {
  transform: rotate(-90deg);
}

.line-close {
  width: 50%;
  height: var(--line-thickness);
  border-radius: 999px;
  background-color: white;
  transform-origin: center;
  position: absolute;
  top: 50%;
}

.line-close1 {
  transform: translateY(-50%) rotate(45deg);
}

.line-close2 {
  transform: translateY(-50%) rotate(-45deg);
}
