/* LANDSCAPE LARGE */
/* no meda queries, general CSS works */

/*LANDSCAPE MEDIUM */
/* images full page with frame*/

@media (min-aspect-ratio: 1/1) and (max-width: calc(1300em/16)) and (min-width: calc(700em/16)) {
  .img-box,
  .img-box--pad-vert,
  .img-box--pad-horiz,
  .img-box--pad-norm {
    padding: 0;
  }

  .images-two {
    padding: var(--frame);
    gap: var(--frame);
  }

  .credit {
    color: white;
    padding-top: 14rem;
    background-image: var(--gradient);
  }

  .contact .credit {
    color: var(--col-grey-dark);
    background: transparent;
  }
  .c-text {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
  }

  .modal-container {
    grid-template-columns: 3fr 2fr;
  }
}

/* PORTRAIT NORMAL OR LANDSCAPE SMALL */
/* OR LANDSCAPE WITH SMALL HEIGHT */
/* same conditions as gsap match media */
@media (max-aspect-ratio: 1/1),
  (max-width: calc(700em/16)),
  (max-height: calc(450em/16)) {
  :root {
    --frame: 1.6rem;
  }

  .logo-box {
    position: absolute;
  }

  .home {
    height: 100svh;
  }

  .home,
  .cover,
  .films-proj,
  .tours-proj,
  .contact {
    grid-template-columns: 1fr;
  }

  .home {
    grid-template-rows: 1fr auto;
  }

  .cover {
    grid-template-rows: auto 1fr;
  }

  /* set heights */
  .films,
  .cover {
    height: auto;
  }

  .images .cover-content,
  .films-main .cover-content,
  .tours-main .cover-content,
  .contact .cover-content {
    height: 100vw;
  }

  .cover-text {
    padding: 5rem;
    padding-top: 8rem;
  }

  .home .cover-text {
    padding-top: 5rem;
  }

  .cover-text .text-1 {
    max-width: 55ch;
  }

  /* films */
  .films-proj {
    display: flex;
    flex-direction: column;
    height: 300vw;
  }
  /* films modal */

  .modal-film {
    padding: 2rem;
  }
  .modal-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
  }

  .modal-text {
    color: white;
    font-size: 2rem;
    padding: 0 2rem;
    max-width: 45ch;
  }

  /* images */

  /* images in 1 column */

  .images-one {
    overflow: hidden;
    height: auto;
  }
  .images-two {
    grid-template-columns: 1fr;
    height: auto;
    overflow: hidden;
  }

  .img-box {
    display: flex;
    flex-direction: column;
    padding: var(--frame);
  }

  .img-box--pad-vert,
  .img-box--pad-horiz,
  .img-box--pad-norm {
    padding: var(--frame);
  }

  .img-square {
    aspect-ratio: 1;
  }
  .img-vert {
    aspect-ratio: 0.8;
  }

  .img-horiz {
    aspect-ratio: 1.6;
  }

  .credit {
    padding: 2rem 0;
    padding-bottom: 2rem;
    position: relative;
  }

  .c-gradient {
    color: var(--col-grey-dark);
    background: transparent;
  }

  .c-hide {
    display: block;
  }

  .c-cover {
    position: absolute;
    background-image: var(--gradient);
    color: white;
    padding-left: var(--frame);
  }

  .c-text {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: flex-start !important;
  }

  .tours-proj {
    display: flex;
    flex-direction: column;
    height: 200vw;
  }

  .pano-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--frame);
    cursor: pointer;
  }

  .pano-click-text {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
  }

  .pano-play {
    background-color: var(--col-grey-dark);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border-radius: 999rem;
    margin-top: 1rem;
  }
}

/* LANDSCAPE VERY SMALL OR PORTRAIT VERY SMALL */
/* like portrait but setting heights */
@media (min-aspect-ratio: 1/1) and (max-width: calc(700em/16)),
  (max-aspect-ratio: 1/1) and (max-width: calc(350em/16)) and (max-height: calc(650em/16)) {
  .modal-text {
    display: none;
  }
}

/* LANDSCAPE EXTEME, aspect ratio over 3/1*/
@media (min-aspect-ratio: 3/1) {
  .home,
  .cover,
  .films-proj,
  .tours-proj,
  .images-one,
  .images-two,
  .contact {
    height: 33vw;
  }
}

/* PORTRAIT BIG */
@media (max-aspect-ratio: 1/1) and (min-width: calc(800em/16)) {
  /* images */

  /* images in 2 columns */

  .images-one {
    overflow: hidden;
    height: auto;
    padding: var(--frame);
  }
  .images-two {
    grid-template-columns: 1fr 1fr;
    height: auto;
    overflow: hidden;
    padding: var(--frame);
    gap: var(--frame);
  }

  .img-box {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .images-two .img-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vw auto;
  }
  .credit {
    padding-bottom: 0;
  }
  .c-hide {
    display: none;
  }
}

/* VERY SMALL VIEWPORT HEIGHT */
@media (max-height: calc(450em/16)) {
  .nav-links {
    gap: 0.9rem;
    padding-bottom: 4rem;
  }

  .email {
    border: none;
    bottom: 4rem;
  }
}
/* WIDTH-REM  */

@media (max-width: calc(1600em/16)) {
  html {
    font-size: 60%;
  }
}

@media (max-width: calc(1500em/16)) {
  html {
    font-size: 59%;
  }
}

@media (max-width: calc(1400em/16)) {
  html {
    font-size: 58%;
  }
}

@media (max-width: calc(1300em/16)) {
  html {
    font-size: 57%;
  }
}

@media (max-width: calc(1200em/16)) {
  html {
    font-size: 56%;
  }
}

@media (max-width: calc(1100em/16)) {
  html {
    font-size: 55%;
  }
}

@media (max-width: calc(1000em/16)) {
  html {
    font-size: 54%;
  }
}

@media (max-width: calc(900em/16)) {
  html {
    font-size: 53%;
  }
}
