---
import "../styles/base.css";
import "../styles/nav.css";
import "../styles/nav-offscreen.css";
import "../styles/images.css";
import "../styles/films.css";
import "../styles/tours.css";
import "../styles/modal-film.css";
import "../styles/contact.css";

import About from "../components/commercial/About.astro";
import Analytics from "../components/commercial/Analytics.astro";
import Contact from "../components/commercial/Contact.astro";
import Films from "../components/commercial/Films.astro";
import Hero from "../components/commercial/Hero.astro";
import Images from "../components/commercial/Images.astro";
import Nav from "../components/commercial/Nav.astro";
import Tours from "../components/commercial/Tours.astro";
import PageHead from "../components/shared/PageHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead
      title="Scuares-Architectural Visualization. 3D Rendering"
      description="Architectural Visualization studio that produces high-end photorealistic 3D renderings for architecture and real estate. Images, Videos, 360 Virtual Tours, CG Animations, Walkthroughs, Cinemagraphs "
    />

    <script>
      import "../js/appCommercial.js";
    </script>

    <Analytics />
  </head>
  <body class="commercial-page">
    <Nav />

    <main id="page-content">
      <Hero />
      <About />
      <Films />
      <Images />
      <Tours />
      <Contact />
    </main>

    <Contact variant="modal" />
  </body>
</html>
