---
import "../styles/general.css";
import "../styles/nav.css";
import "../styles/queries.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- meta description for SEO-->
    <meta
      name="description"
      content="Architectural Visualization studio that produces cost-effective photorealistic 3D renderings for residential and commercial Real Estate projects. CG Images and Animations."
    />

    <!-- google site ownership verification -->
    <meta
      name="google-site-verification"
      content="Oc__Wwdl_tRXLnyFebkLVeqprhvqnJwN6DI6k9S0lB0"
    />

    <title>scuares</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

    <!-- SCRIPTS -->

    <script>
      import "../js/app.js";
    </script>
  </head>

  <body>
    <!--=========================================
      LOGO + CONTACT NAV
    ===============================================-->
    <nav class="nav nav--docked">
      <!-- LOGO -->

      <button
        class="logo link"
        data-goto="#home"
        aria-label="scroll to the top of the page"
      >
        scuares
      </button>

      <!-- CONTACT BUTTON -->
      <div class="contact-box link" data-goto="#contact">
        <button class="contact-btn">contact</button>
      </div>
    </nav>

    <!--==============================
      HERO - HOME
     ==============================-->

    <section
      class="hero-full snap"
      data-logo="dark"
      data-contact="dark"
      data-hero-sequence
      data-hero-interval="3000"
      id="home"
    >
      <div class="logo-hero" data-hero-logo>scuares</div>
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-hero-current
          alt="Photorealistic architectural visualization by Scuares"
        />

        <template data-hero-slides>
          <img
            data-src="walkeweg_b"
            data-logo="light"
            alt="Photorealistic architectural visualization by Scuares"
          />
          <img
            data-src="puglia"
            data-logo="dark"
            alt="Photorealistic architectural visualization by Scuares"
          />
          <img
            data-src="walkeweg_a"
            data-logo="light"
            alt="Photorealistic architectural visualization by Scuares"
          />
          <img
            data-src="basel_b"
            data-logo="light"
            alt="Photorealistic architectural visualization by Scuares"
          />
          <img
            data-src="basel_a"
            data-logo="light"
            alt="Photorealistic architectural visualization by Scuares"
          />
        </template>
      </div>
    </section>

    <!--==============================
      ABOUT
     ==============================-->
  
    <section
      class="images-two snap nav-dock-section"
      data-logo="dark"
      data-contact="dark"
      id="about"
    >
      <div class="centered-box">
        <div class="text-box">
          <h3 class="header-main">
            Images of<br />
            unbuilt<br />
            architecture
          </h3>
          <h4 class="text-normal">
            Founded in Barcelona by Josep Alcover. Scuares focuses on
            photorealistic visualizations.
          </h4>
        </div>
      </div>

      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="about_image"
          class="img-initial"
          alt="Photorealistic exterior 3D Rendering of a real estate residential deveoplment in Gland, Switzerland. Human eye level view. Facade detail at sunset. Still CG image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Housing project in Gland</div>
        </div>
      </div>
    </section>

    <!--==============================
      IMAGES
     ==============================-->

    <!-- IMAGES SLIDES -->

    <!-- washington -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="washington_aerial"
          class="img-lazy"
          alt="Aerial photorealistic exterior 3D Rendering of a modern multifunctional complex in an urban context in Washington. Still CG image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Multifunctional Building</div>
        </div>
      </div>
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="washington_street"
          class="img-lazy img-cover img-square"
          alt="Photorealistic exterior 3D Rendering of a modern multifunctional complex in an urban context in Washington. View from a human eye level. Still CG image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Multifunctional Building</div>
        </div>
      </div>
    </section>

    <!-- bedroom - dining -->
    <section class="images-two snap" data-logo="light" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="bedroom"
          class="img-lazy"
          alt="Photorealistic interior 3D Rendering of a modern dining room in an apartment in Berlin, designed by JM Designs. Mix of contemporary furniture with classical architecture. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Apartment in Berlin</div>
        </div>
      </div>
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="dining"
          class="img-lazy"
          alt="Photorealistic interior 3D Rendering of a modern bedroom in an apartment in Berlin, designed by JM Designs. Mix of contemporary furniture with classical architecture.Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Apartment in Berlin</div>
        </div>
      </div>
    </section>

    <!-- puglia -->
    <section class="images-one snap" data-logo="light" data-contact="light">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="puglia"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house in a beautiful landscape in Puglia designed by Bergnes de las Casas Arquitectos. Contemporary facade design with concrete and wood. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Villa in Puglia</div>
        </div>
      </div>
    </section>

    <!-- walkeweg -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="walkeweg_a"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern housing complex in Walkeweg, designed by Parabase Architects. First prize in an architectural competition. Building made of recycled concrete components. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Areal Walkeweg Nord Basel</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="walkeweg_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern housing complex in Walkeweg, designed by Parabase Architects. First prize in an architectural competition. Building made of recycled concrete components. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Areal Walkeweg Nord Basel</div>
        </div>
      </div>
    </section>

    <!-- gregor -->
    <section class="images-two snap" data-logo="dark" data-contact="light">
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="gregor_int"
          class="img-lazy"
          alt="Photorealistic interior 3D Rendering of a modern house designed by Gregor Pils Architects. Contemporary interior design with wood and plaster. Building next to vineyards. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Weinbergloft Houses</div>
        </div>
      </div>
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="gregor_ext"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house designed by Gregor Pils Architects. Contemporary facade design with wood and plaster. Building next to vineyards. Real Estate residential project.  Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Weinbergloft Houses</div>
        </div>
      </div>
    </section>

    <!-- antiparos -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="antiparos_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house made of stone in a Greek Island. Luxury villa with sea view and beautiful landscape. Real Estate residential project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Villas in Antiparos</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="antiparos_d"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house made of stone in a Greek Island. Luxury villa with sea view and beautiful landscape. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Villas in Antiparos</div>
        </div>
      </div>
    </section>

    <!-- basel -->
    <section class="images-two snap" data-logo="light" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="basel_a"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern multifamily housing building made of metal and concrete in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Burgfelderstrasse Housing, Basel</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="basel_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern multifamily housing building made of metal and concrete in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Burgfelderstrasse Housing, Basel</div>
        </div>
      </div>
    </section>

    <!-- ter- williamsburg -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="ter"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house in a beautiful landscape designed by Mesura Architects. Architectural project with traditional materials and a swimming pool. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Ter House</div>
        </div>
      </div>
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="williamsburg"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern co-living building in Williamsburg, New York. Architectural project designed by The Collective with a contemporary facade design made of brick. Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Hotel in Williamsburg (NY)</div>
        </div>
      </div>
    </section>

    <!-- codines -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="codines_a"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house made of brick designed by Bergnes de las Casas Architects. Contemporary design building.Residential architecture. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">House in St. F. Codines</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="codines_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern house made of brick designed by Bergnes de las Casas Architects. Contemporary design building.Residential architecture. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">House in St. F. Codines</div>
        </div>
      </div>
    </section>

    <!-- lakehouse -->
    <section class="images-two snap" data-logo="dark" data-contact="light">
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="lakehouse_int"
          class="img-lazy"
          alt="Photorealistic interior 3D Rendering of a modern house next to a lake in Texas. Interior Design with wood and fabric. Soft color palette. Contemporary design building. Residential Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Lakehouse in Texas</div>
        </div>
      </div>
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="lakehouse_ext"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a modern  wooden house next to a lake in Texas. White house made of wood. Traditional american architecture style Beautiful landscape and contemporary design building. Residential Real Estate project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Lakehouse in Texas</div>
        </div>
      </div>
    </section>

    <!-- zurich -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="zurich_ext"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a courthouse in Zurich designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Hinwil Courthouse, Zurich</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="zurich_int"
          class="img-lazy"
          alt="Photorealistic interior 3D Rendering of a courthouse in Zurich designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Hinwil Courthouse, Zurich</div>
        </div>
      </div>
    </section>

    <!-- pool -->

    <section class="images-one snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="pool"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a contemporary luxury Villa with a swimmig pool designed by JM Designs. Residential real estate project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">N House</div>
        </div>
      </div>
    </section>

    <!-- doha - offices -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="doha"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a park in Doha designed by Yaseen Raad. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Conference Street Park (Doha)</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="offices"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of an office building in Basel designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">BRCCH Offices, Basel</div>
        </div>
      </div>
    </section>

    <!-- robotic -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="robot_a"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of robotically fabricated wooden pavilion in a beautiful landscape designed by Josep Alcover. Parametric architecture project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Wooden Pavilions</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="robot_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of robotically fabricated wooden pavilion in a beautiful landscape designed by Josep Alcover. Parametric architecture project. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Wooden Pavilions</div>
        </div>
      </div>
    </section>

    <!-- volta -->
    <section class="images-two snap" data-logo="dark" data-contact="dark">
      <div class="img-full">
        <img
          src="/images/pixel.jpg"
          data-src="volta_a"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a residential building in Volta designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit">
          <div class="c-text">Stadtbaustein Volta Nord</div>
        </div>
      </div>

      <div class="img-pad">
        <img
          src="/images/pixel.jpg"
          data-src="volta_b"
          class="img-lazy"
          alt="Photorealistic exterior 3D Rendering of a residential building in Volta designed by Parabase Architects. Project for an architectural competition. Still CG Image produced by Scuares, an architectural visualization studio"
        />
        <div class="credit c-hide">
          <div class="c-text">Stadtbaustein Volta Nord</div>
        </div>
      </div>
    </section>

    <!--==============================
      CONTACT
     ==============================-->
    <!-- CONTACT -->
    <section
      class="images-two snap"
      id="contact"
      data-logo="dark"
      data-contact="dark"
    >
      <div class="centered-box">
        <div class="text-box">
          <h3 class="header-main">
            Let's work<br />
            together
          </h3>
          <p class="text-normal">
            We are based in Barcelona.<br />
            We work with real estate developers, marketing agencies, architects
            and designers around the world.
          </p>
        </div>
      </div>

      <div class="centered-box contact-info">
        <div class="text-box">
          <h6 class="email-big">info@TheRendering.eu</h6>
        </div>
      </div>
    </section>
  </body>
</html>
