---
import "../styles/base.css";
import "../styles/nav.css";
import "../styles/images.css";
import "../styles/contact.css";

import About from "../components/index/About.astro";
import Contact from "../components/index/Contact.astro";
import Hero from "../components/index/Hero.astro";
import Images from "../components/index/Images.astro";
import Nav from "../components/index/Nav.astro";
import PageHead from "../components/shared/PageHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <PageHead
      title="scuares"
      description="Architectural Visualization studio that produces cost-effective photorealistic 3D renderings for residential and commercial Real Estate projects. CG Images and Animations."
    />

    <script>
      import "../js/appIndex.js";
    </script>
  </head>

  <body>
    <Nav />
    <main id="page-content">
      <Hero />
      <About />
      <Images />
      <Contact />
    </main>
    <Contact variant="modal" />
  </body>
</html>
