<!--==============================
  ABOUT
 ==============================-->
<section
  class="images-two snap nav-dock-section"
  data-logo="dark"
  data-contact="dark"
  id="about"
>
  <div class="centered-box">
    <div class="text-box">
      <h3 class="header-main">
        Images of<br />
        unbuilt<br />
        architecture
      </h3>
      <h4 class="text-normal">
        Scuares is an architectural<br />
        image studio founded in Barcelona<br />
        by architect Josep Alcover.
      </h4>
    </div>
  </div>

  <div class="img-full">
    <img
      src="/images/pixel.jpg"
      data-src="about_image"
      class="img-initial"
      alt="Photorealistic exterior 3D Rendering of a real estate residential deveoplment in Gland, Switzerland. Human eye level view. Facade detail at sunset. Still CG image produced by Scuares, an architectural visualization studio"
    />
    <div class="credit">
      <div class="c-text">Housing project in Gland</div>
    </div>
  </div>
</section>
