---
import aboutImage from "../assets/images/about_image.jpg";
import Credit from "./Credit.astro";
import PictureGallery from "./PictureGallery.astro";
---

<!--==============================
  ABOUT
 ==============================-->
<section
  class="images-two snap nav-dock-section"
  data-logo="dark"
  data-contact="dark"
  id="about"
>
  <div class="centered-box">
    <div class="text-box">
      <p class="text-normal">
        Images of<br />
        unbuilt<br />
        architecture<br />
        <br />

        Scuares is an architectural<br />
        image studio founded in Barcelona<br />
        by architect Josep Alcover.
      </p>
    </div>
  </div>

  <div class="img-full">
    <PictureGallery
      src={aboutImage}
      alt="Photorealistic exterior 3D Rendering of a real estate residential deveoplment in Gland, Switzerland. Human eye level view. Facade detail at sunset. Still CG image produced by Scuares, an architectural visualization studio"
    />
    <Credit author="Architect" project="Housing project in Gland" />
  </div>
</section>
