<!--==============================
  CONTACT
 ==============================-->
<!-- CONTACT -->
<section
  class="images-two snap"
  id="contact"
  data-logo="dark"
  data-contact="dark"
>
  <div class="centered-box">
    <div class="text-box">
      <h3 class="header-main">
        Let's work<br />
        together
      </h3>
      <p class="text-normal">
        We are based in Barcelona.<br />
        We work with real estate developers, marketing agencies, architects
        and designers around the world.
      </p>
    </div>
  </div>

  <div class="centered-box contact-info">
    <div class="text-box">
      <h6 class="email-big">info@TheRendering.eu</h6>
    </div>
  </div>
</section>
