---
interface Props {
  author: string;
  project: string;
  hidden?: boolean;
  class?: string;
}

const {
  author,
  project,
  hidden = false,
  class: className,
} = Astro.props;
---

<div class:list={["credit", { "c-hide": hidden }, className]}>
  <div class="c-text">
    <p class="c-author">{author}</p>
    <p class="c-project">{project}</p>
  </div>
</div>
