<!--==============================
  HERO - HOME
 ==============================-->

<section
  class="hero-full snap"
  data-logo="dark"
  data-contact="dark"
  data-scroll-target="#about"
  data-hero-sequence
  data-hero-interval="3000"
  id="home"
>
  <div class="logo-hero" data-hero-logo>scuares</div>
  <div class="img-hero">
    <img
      src="/images/pixel.jpg"
      data-hero-current
      alt="Photorealistic architectural visualization by Scuares"
    />

    <template data-hero-slides>
      <img
        data-src="walkeweg_b"
        data-logo="light"
        alt="Photorealistic architectural visualization by Scuares"
      />
      <img
        data-src="puglia"
        data-logo="dark"
        alt="Photorealistic architectural visualization by Scuares"
      />
      <img
        data-src="walkeweg_a"
        data-logo="light"
        alt="Photorealistic architectural visualization by Scuares"
      />
      <img
        data-src="basel_b"
        data-logo="light"
        alt="Photorealistic architectural visualization by Scuares"
      />
      <img
        data-src="basel_a"
        data-logo="light"
        alt="Photorealistic architectural visualization by Scuares"
      />
    </template>
  </div>
</section>
