<!--=========================================
  LOGO + CONTACT NAV
===============================================-->
<nav class="nav nav--docked">
  <!-- LOGO -->

  <button
    class="logo link"
    data-goto="#home"
    aria-label="scroll to the top of the page"
  >
    scuares
  </button>

  <!-- CONTACT BUTTON -->
  <div class="contact-box link" data-goto="#contact">
    <button class="contact-btn">contact</button>
  </div>
</nav>
